.box .bg5 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background: url('../images/design-bg.png') no-repeat;
  background-size: 100% 100%;
}
.design {
  height: 100%;
  position: relative;
}
.design .design-img {
  width: 926px;
  position: absolute;
  top: 41%;
  left: 45%;
  transform: translate(-50%, -50%);
}
.design .design-img img {
  width: 100%;
  transition: 0.2s ease-in-out;
}
.design .design-img img:hover {
  transform: scale(0.86);
}
.design .design-img img:active {
  transform: translateY(-20px) scale(1.2);
}
.design .design-text {
  width: 516px;
  position: absolute;
  bottom: 14%;
  left: 66%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  box-sizing: border-box;
  color: #d39d5e;
  flex-direction: column;
}
.design .design-text > div:nth-child(1) {
  width: 100%;
  text-align: left;
}
.design .design-text > div:nth-child(1) h1 {
  font-size: 40px;
}
.design .design-text > div:nth-child(2) {
  width: 70%;
  margin-top: 20px;
}
.text-o {
  background-color: #f2e4bf;
  padding: 10px 20px;
  border-radius: 30px;
  box-sizing: border-box;
}
.text-o p {
  font-size: 14px;
}
